.controles{
    justify-content:center;
    animation: fadein 1s;
}

#aulas{
    animation: fadein 3s;
}


.professor {
    padding: .5em .8em;
    color: $corprimaria;
    transition: all .35s ease;
    position: relative;
    text-decoration: none !important;
    font-size: 20px;
  
  &::before,
  &::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }

  
  &::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid $textoterciario;
    border-right: 3px solid darken($textoterciario, 2%);
    transform: translate(-100%, 50%);
    
  }
  
  &:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid $textoterciario;
    border-left: 3px solid darken($textoterciario, 2%);
    transform: translate(100%, -100%)
  }
  
  &:hover:before,
  &:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
  &:hover {
    color: $textoterciario;
    transition: all .35s ease;

  }

}
.form-control {
    border-radius: 7px;
    &:focus{
        transition: all 1.5s ease 0.1s;
        border-color: $textoterciario !important;
        box-shadow: 0 0 0 0.2rem rgba($textoterciario, 0.2) !important;
   
    }
    transition: all 1.5s ease 0.1s;


}
.search-icon{
    transition: all 1.5s ease 0.1s;
}
#keyword{
    border-radius: 20px;
    padding-right:60px !important;

    &:focus{
        & + .search-icon{
            transition: all 1.5s ease 0.1s;
            color: $textoterciario;
        }

    }

}


.calendar-icon{
    transition: all 1.5s ease 0.1s;
}
#date{
    &:focus{
        & + .calendar-icon{
            transition: all 1.5s ease 0.1s;
            color: $textoterciario;
        }
    }
}
.search-icon{
right:20px;
position:absolute;
top:10px;
font-size: 1em;
color: $textosecundario;



}
.calendar-icon{
    right:20px;
    position:absolute;
    top:9px;
    font-size: 1em;
    color: $textosecundario;
    
    
    }
.btn-primary{

   
    color: $textoprimario;
    background-color: $corprimaria;
    border-radius: 1px;
    border-color: $corprimaria;
    font-family: "Roboto_Bold_Condensed";
    font-weight: bold;
    -webkit-box-shadow: 3px 3px 9px 0px rgba(50, 50, 50, 0.29);
    -moz-box-shadow: 3px 3px 9px 0px rgba(50, 50, 50, 0.29);
    box-shadow: 3px 3px 9px 0px rgba(50, 50, 50, 0.29);
    transition: all 0.3s ease 0s;
    &:hover{
        color: $textoprimario;
        background-color: lighten( $corprimaria, 15% );
        border-color: lighten( $corprimaria, 15% );
        box-shadow: 0px 10px 15px lighten( $corprimaria, 20% );
        transform: translateY(-7px);
    }

    &:active, &:focus, &:active:focus{
        color: $textoprimario !important;
        background-color: darken( $corprimaria, 15% ) !important;
        border-color: darken( $corprimaria, 15% ) !important;
        box-shadow: 0px 10px 15px darken( $corprimaria, 20% ) !important;
        transform: translateY(-7px);
    }

    &:target{
        color: $textoprimario;
        background-color: darken( $corprimaria, 15% );
        border-color: darken( $corprimaria, 15% );
        box-shadow: 0px 10px 15px lighten( $corprimaria, 20% );
        transform: translateY(-7px);  
    }
}


.controles{
    margin-top: 4%;

    margin-left: 0;
    margin-right: 0;

    .col{
        @media screen and (min-width: 600px) {
            padding-left: 0;
        }
    }

}

#aulas{
    margin-top: 10%;
}

.icone{
    color: $textoprimario;
}
.blocoIcone{
    @media screen and (max-width: 600px) {
        display: none;
    }
}

th {
    font-family: 'Roboto_Regular';
    font-weight: 100;
    color: $textosecundario;
}

td {
    font-family: 'Roboto_Light_Italic';
    font-weight: 600;
    color: $textoprimario;
}