.titulo-navbar{
    font-family: 'Roboto_Light_Italic';
    color: $textoprimario !important;
    i{
        font-family: 'Roboto_Black_Italic';

    }
}
.back-btn{
    color: $corprimaria !important;
}