$corprimaria: #DC3DE0;

$textoprimario: #707070;
$textosecundario: #989898;
$textoterciario: #DC3DE0;


.texto-terciario{
    font-family: "Roboto_Light_Italic";
    color: $textoterciario !important;
}